<ng-include src="'static/partials/header.html'"></ng-include>
<h1>Admin Change Password</h1>
<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
<div ng-show="success" class="alert alert-success">{{successMessage}}</div>
<div>
    <div class="panel-body add" style="">

            <form class="form-horizontal" ng-submit="changePass()">
                <div class="form-group">
                    <label for="inputOldPass" class="col-sm-3 control-label">Old Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="inputOldPass" name="inputOldPass"
                               ng-model="passForm.oldpass"
                               placeholder="Name" required="" autofocus="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="inputName" name="inputName"
                               ng-model="passForm.newPass"
                               placeholder="Name" required="" autofocus="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPass" class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="inputPass" name="inputPass"
                               ng-model="passForm.confirm" placeholder="Password" required="" autofocus="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="disabled">
                            Change Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>