<ng-include src="'static/partials/header.html'"></ng-include>
<img src="static/img/twitter-logo.jpg" style="float:  right;width: 280px;">
<div style="font-size: 15px;">
	<h2 style="padding-bottom: 10px;">How to Run,</h2>
	<p>Massing is Easy. Find a page you share a similar Vibe with, Like @ChillVibes</p>
	<p>Once you find a similiar page</p>
	<p>Go to EliteSocial.co</p>
	<p>Login, Add your account to your Customer account Via the App</p>
	<p>Click Settings</p>
	<p>Select Upload list,</p>
	<p>Input the correct info to the filters, like the @name, and appropriate filters. (If you input 100 likes, if the accounts being fetched have less than 100 likes it will be skipped and not added to the pool.)</p>
	<p>Click Start! </p>
	<p>Since this process will take awhile you might as well select "Close" not "Stop" and come back in 30-45 minutes, if the list being fetched is marked complete, Upload the list, if not wait a bit longer.</p>
	<p>Any problmes, Contact me directly.</p>
	<p>After you have a big enough pool to keep you busy, simply Turn the machine On/Off at the appropriate times and Watch the gains grow.</p>
	<p>You can even do it from your phone.</p>
</div>