<ng-include src="'static/partials/header.html'"></ng-include>
<img src="static/img/twitter-logo.jpg" style="float:  right;width: 25%;">
<div style="font-size: 18px; line-height: 28px; font-family: nemoy;">
	<h1 style="padding-bottom: 15px;">How to Run,</h1>
	<p>Massing is Easy. Find a page you share a similar Vibe with, Like @ChillVibes</p>
	<p>Once you find a similiar page</p>
	<p>Go to EliteSocial.co</p>
	<p>Login, Add your account to your Customer account Via the App</p>	
	<div class="col-md-9 img-help">
		<img class="img-responsive" src="static/img/1.png">		
	</div><div class="clearfix"></div>
	<div class="col-md-9 img-help m-b-70">
		<img class="img-responsive" src="static/img/2.png">		
	</div><div class="clearfix"></div>
	<p>Click Settings</p>
	<div class="col-md-9 img-help m-b-70">
		<img class="img-responsive" src="static/img/3.png">		
	</div><div class="clearfix"></div>
	<p>Select Upload list,</p>
	<p>Input the correct info to the filters, like the @name, and appropriate filters. (If you input 100 likes, if the accounts being fetched have less than 100 likes it will be skipped and not added to the pool.)</p>
	<div class="col-md-9 img-help m-b-70">
		<img class="img-responsive" src="static/img/4.png">		
	</div><div class="clearfix"></div>
	<p>Click Start! </p>
	<div class="col-md-9 img-help m-b-70">
		<img class="img-responsive" src="static/img/5.png">		
	</div><div class="clearfix"></div>
	<p>Since this process will take awhile you might as well select "Close" not "Stop" and come back in 30-45 minutes, if the list being fetched is marked complete, Upload the list, if not wait a bit longer.</p>
	<div class="col-md-9 img-help m-b-70">
		<img class="img-responsive" src="static/img/6.png">		
	</div><div class="clearfix"></div>	
	<p>Any problmes, Contact me directly.</p>
	<div class="col-md-9 img-help">
		<img class="img-responsive" src="static/img/7.png">		
	</div><div class="clearfix"></div>
	<div class="col-md-9 img-help">
		<img class="img-responsive" src="static/img/8.png">		
	</div><div class="clearfix"></div>
	<div class="col-md-9 img-help m-b-70">
		<img class="img-responsive" src="static/img/9.png">		
	</div><div class="clearfix"></div>

	<p>After you have a big enough pool to keep you busy, simply Turn the machine On/Off at the appropriate times and Watch the gains grow.</p>
	<div class="col-md-9 img-help">
		<img class="img-responsive" src="static/img/10.png">		
	</div><div class="clearfix"></div>

	<p class="m-b-70">You can even do this last part from your home.</p>
</div>